[Unit]
Description=Foundry VTT
After=network.target

[Service]
ExecStart=/usr/bin/node {{ foundryVTT.basedir | default('/srv/foundryVTT')}}/{{ foundryVTT.appdir | default('foundryvtt')}}/resources/app/main.js --dataPath={{ foundryVTT.basedir | default('/srv/foundryVTT')}}/{{ foundryVTT.datadir | default('foundrydata')}}
WorkingDirectory=/home/foundry
StandardOutput=inherit
StandardError=inherit
Restart=always
User=foundry

[Install]
WantedBy=multi-user.target