# {{ ansible_managed }}

# Path to default foundry directories
foundry_basedir={{ foundryVTT.basedir | default('/srv/foundryVTT')}}
foundry_datadir={{ foundryVTT.basedir | default('/srv/foundryVTT')}}/{{ foundryVTT.datadir | default('foundrydata')}}
foundry_appdir={{ foundryVTT.basedir | default('/srv/foundryVTT')}}/{{ foundryVTT.appdir | default('foundryvtt')}}
foundry_pdfdir={{ foundryVTT.basedir | default('/srv/foundryVTT')}}/{{ foundryVTT.datadir | default('foundrydata')}}/Data/local/pdf
backup_storage={{ foundryVTT.backupdir }}

# Path to default work-directories
world_directory=${foundry_datadir}/worlds
module_directory=${foundry_datadir}/modules

# Path do Asset-Directories
token_sourceDir=${foundry_datadir}/Data/{{ foundryVTT.token_sourceDir | default('import/token') }}
token_targetDir=${foundry_datadir}/Data/{{ foundryVTT.token_targetDir | default('asset/token') }}
map_sourceDir=${foundry_datadir}/Data/{{ foundryVTT.map_sourceDir | default('import/maps') }}
map_targetDir=${foundry_datadir}/Data/{{ foundryVTT.map_targetDir | default('asset/maps') }}
visuals_sourceDir=${foundry_datadir}/Data/{{ foundryVTT.visuals_sourceDir | default('import/visuals') }}
visuals_targetDir=${foundry_datadir}/Data/{{ foundryVTT.visuals_targetDir | default('asset/visuals') }}
token_dirtree="{{ foundryVTT.token_dirtree }}"

backup_basedir=backup
backup_application=foundryVTT

excludefile=backup_exclude.list
hashfile=backup_hash.list

foundryuser=foundry